*.[oa]
*.exe
*.la
*.lo
*.pc
*.tar.*
*~
.deps
.dirstamp
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bd_info
bdj_test
bdsplice
build-aux/
clpi_dump
config.h
config.h.in
config.log
config.status
configure
hdmv_test
index_dump
libbluray.jar
libbluray_test
libtool
list_titles
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
mobj_dump
mpls_dump
sound_dump
src/libbluray/bdj/build
src/libbluray/bluray-version.h
stamp-h1
